// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #db625c;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #5cdb95;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom colors
$first: #512DA8;
$second: #673AB7;
$third: #D1C4E9;
$fourth: #212121;
$fifth: #757575;
$sixth: #BDBDBD;

